@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Raleway', sans-serif;
}
.footerTitle {
  @apply text-white text-2xl font-semibold mt-[15px]
}

.icon-size {
  @apply w-10 h-10 text-white
}
.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}
/* button, [type='button'], [type='reset'], [type='submit'] {
  background-color: blue;
  color: white;
  padding: 5px 25px;
  border-radius: 2px;
  margin-top: 20px;
} */