#popularInstructor figure img{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);

}
.overlay_3 {
    position: absolute; 
    background: rgba(57, 57, 57, 0.5);
  
    /* center overlay text */
    display: flex; 
     align-items: center;
    justify-content: center;
  }
  .overlay_4 {
    inset: 0;
    border-radius: 20px 20px 0 0;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
    transform: scale(0);
    transition: all .3s ease-in-out;
  }
  
  .image_wrapper:hover .overlay_4 {
    transform: scale(1);
  }
  
  .icon {
    border-radius: 50%;
    font-size: 20px;
    color: #2094f3;
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon:hover {
    color: white;
    background: #2094f3;
  }